div(id='about')

  p wikistream is an experimental visualization of realtime edits in major language 
    a(href="http://wikipedia.org") Wikipedias. 
    | Every time someone updates or creates a Wikipedia article you will see it ever so briefly in this list. And if someone uploads an image file to the Wikimedia Commons you should see the image bacgrkound update. 
    
  p If you'd like to pause the display at any time just hit 'p'. To continue scrolling hit 'p' again. If you hover over the link you should see the comment associated with the change.

  p Hopefully wikistream provides a hint of just how active the community is around Wikipedia. wikistream was created to help  recognize the level of involvement of folks around the world, who are actively engaged in making Wikipedia the amazing resource that it is.

  p wikistream was also an excuse to experiment with 
    a(href="http://nodejs.org") node.js 
    | and 
    a(href="http://redis.io") redis
    | .  node connects to the 
    a(href="http://meta.wikimedia.org/wiki/IRC/Channels#Recent_changes") Wikimedia IRC server
    | , joins the wikipedia channels and pushes updates into redis via pub/sub, which the node webapp is then able to deliver into your browser through the magic of 
    a(href="http://socket.io") socket.io 
    | If you are curious, want to add/suggest something, or run the app yourself, checkout the code on 
    a(href="http://github.com/edsu/wikistream") GitHub

  p(style="text-align: center;")
    img(src="/images/node.png", width=200, style="margin-right: 50px;")
    img(src="/images/redis.png", width=200, style="margin-right: 50px;")

