header 
  img(src="/images/wikipedia.png")
  span(class='wikistream') wikistream

a(href="http://github.com/edsu/wikistream")
  img(style="position: absolute; top: 0; right: 0; border: 0;", src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")

div(id='updatePanel')
  div(id="slider")
  span(class="deltaLabel") Edit Size: ± 
  span(id='deltaLimit') 0
  div(id='updates')


