!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/smoothness/jquery-ui-1.8.13.custom.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Slackey', rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')

    - if (stream)
        script(src='http://inkdroid.org:3000/socket.io/socket.io.js')
        script(src='/js/jquery.hotkeys.js')
        script(src='/js/app.js')
        script(src='/js/jquery.blockUI.js')
        script(src='/js/jquery-ui.js')

    - if (trends)
        script(src="/js/trends.js")

    script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-16871278-3']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    header
      img(src="/images/wikipedia.png")
      span(class='wikistream') 
        a(href="/") wikistream
      br
      span(class='pauseInfo') Press "p" to pause
      br
      span(class='trends')
        a(href="/trends/") Trends 
        | | 
        a(href="/about/") About

    a(href="http://github.com/edsu/wikistream")
      img(style="position: absolute; top: 0; right: 0; border: 0; z-index: 3;", src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")
    br
    div(id="content")!= body
