!!! 5
html
  head
    title= title
    meta( name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/smoothness/jquery-ui-1.8.13.custom.css')

    - if (stream)
        script(src='js/jquery.min.js')
        script(src='socket.io/socket.io.js')
        script(src='js/jquery.hotkeys.js')
        script(src='js/jquery-ui.js')
        script(src='js/jquery.backstretch.js')
        script(src='js/jquery.ba-bbq.min.js')
        script(src='js/app.js')

  body
    header(class='screen')
      img(src="images/wikipedia.png")
      br
      span(class='wikistream') 
        a(href="/") wikistream
      br
      span(class='pauseInfo') Press "p" to pause

    header(class='mobile')
      strong 
        a(href="/") wikistream

    a(id="github", href="http://github.com/edsu/wikistream")
      img(style="position: absolute; top: 0; right: 0; border: 0; z-index: 3;", src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")
    br
    div(id="content")!= body
