!!! 5
html
  head
    title= title
    meta( name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/smoothness/jquery-ui-1.8.13.custom.css')

    - if (stream)
        script(src='js/jquery.min.js')
        script(src='socket.io/socket.io.js')
        script(src='js/jquery.hotkeys.js')
        script(src='js/jquery-ui.js')
        script(src='js/jquery.backstretch.js')
        script.
          jQuery.browser = {}; (function () { jQuery.browser.msie = false; jQuery.browser.version = 0; if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) { jQuery.browser.msie = true; jQuery.browser.version = RegExp.$1; } })();
        script(src='js/jquery.ba-bbq.min.js')
        script(src='js/app.js')

  body
    header(class='screen')
      img(alt="Wikipedia globe", src="images/wikipedia.png")
      br
      span(class='wikistream')
        a(href="/") wikistream
      br
      span(class='pauseInfo') Press "p" to pause

    header(class='mobile')
      strong
        a(href="/") wikistream

    a(id="github", target="_blank", href="http://github.com/edsu/wikistream")
      img(style="position: absolute; top: 0; right: 0; border: 0; z-index: 3;", src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", alt="Fork me on GitHub")
    br
    div(id="content")!= body
