div(class="container container_12")
  header(id="header", class="grid_12")
    div(id="logo")
      img(src="/images/wikipedia.png")
      span(class='wikistream') wikistream
      br
      span(class='pauseInfo') Press "p" to pause

a(href="http://github.com/edsu/wikistream")
  img(style="position: absolute; top: 0; right: 0; border: 0; z-index: 3;", src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")

div(id="main", class="container container_12")
  div(id="mapPanel", class="grid_12")
    div(id="map")
