div(id="stats")

  div(id="articlesHourly", class="statsPanel")
    h2 Hourly Trending Articles
    ol

  div(id="articlesDaily", class="statsPanel")
    h2 Daily Trending Articles
    ol

  br

  div(id="usersDaily", class="statsPanel")
    h2 Top Editors Today
    ol

  div(id="robotsDaily", class="statsPanel")
    h2 Top Robots Today
    ol
