body {
  padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  font-size: 24pt;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

header img {
    vertical-align: middle;
}

#about {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

#slider {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    float: left;
    width: 70%;
}

#deltaLimit {
    border: 0;
    color: gray;
    font-weight: bold;
}

.deltaLabel {
    font-weight: bold;
    color: gray;
    margin-left: 10px;
}

#updatePanel {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 775px;
    width: 60%;
}

#updates {
    clear: both;
}

.update a {
    font-size: 12pt;
    color: black;
}

.update img {
    margin-right: 3px;
    overflow: auto;
}

/* MB = Minor Bot */

.update.MB a {
}

/* B = Bot */

.update.B a {
}

/* N = New */

.update.N a {
    color: green;
}

/* M = Minor */

.update.M a {
}

/* delete */

.update.delete a {
    color: red;
}

/* create */

.update.create a {
    color: #00ff00;
}

/* patrol */

.update.patrol a {
    color: maroon;
}

/* move */

.update.move a {
}

.wikistream {
    font-family: 'Slackey';
}

a {
    text-decoration: none;
}

.lang {
    margin-right: 10px;
    font-family: Couri;
    font-size: smaller;
    font-weight: bold;
}

.lang.ar {
    direction: rtl;
}

.lang.fa {
    direction: rtl;
}

.lang.ur {
    direction: rtl;
}

.lang.he {
    direction: rtl;
}

.delta {
    margin-left: 10px;
    font-size: smaller;
    color: gray;
}
