body {
    margin: 0;
    font: 10pt "Courier New";
}

a {
    text-decoration: none;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    color: gray;
    padding-bottom: 10px;
    padding-top: 10px;
}

header span.wikistream {
    font-size: 20pt;
    font-weight: bold;
}

header span.pauseInfo {
    font-size: 9pt;
}

header img {
    vertical-align: middle;
    margin-right: 15px;
    float: left;
}

#updatePanel {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 825px;
    width: 800px;
    border: thin gray solid;
    padding: 3px;
    background-color: #eeeeee;
}

#controls {
    margin-bottom: 10px;
    width: 100%;
}

#wikis {
    font-weight: bold;
    color: gray;
    float: left;
} 

#slider {
    width: 50px;
    float: left;
    margin-left: 5px;
    vertical-align: middle;
}

#deltaControl {
    width: 275px;
    text-align: right;
}

#deltaLabel {
}

#deltaLimit {
}

#updates {
    clear: both;
}

.update a {
    font-size: 13pt;
    color: black;
    margin-left: 5px;
}

.update {
    vertical-align: top;
}

.update img {
    margin-right: 3px;
    overflow: auto;
}

.update.newPage a {
    color: green;
}

.update.unpatrolled a {
    color: red;
}

.lang {
    margin-right: 10px;
    /*font-family: Courier;*/
    font-weight: bold;
}

.lang.ar {
    direction: rtl;
}

.lang.fa {
    direction: rtl;
}

.lang.ur {
    direction: rtl;
}

.lang.he {
    direction: rtl;
}

.delta {
    color: gray;
    font-size: 8pt;
    float: right;
}

a.page {
    margin-right: 15px;
}

#stats h2 {
    font-weight: bold;
    color: gray;
    font-size: 12pt;
    padding: 0;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.statsPanel {
    vertical-align: top;
}

.statsPanel ol {
}

#articlesHourly {
    width: 35%;
    float: left;
    display: inline;
    margin-left: 15%;
    margin-right: auto;
}

#articlesDaily {
    width: 35%;
    margin-left: auto;
    margin-right: 15%;
}

#usersDaily {
    clear: both;
    float: left;
    width: 35%;
    margin-left: 15%;
    margin-right: auto;
}

#robotsDaily {
    width: 35%;
    margin-left: auto;
    margin-right: 15%;
}

#about {
    font-size: 12pt;
    margin-left: 20%;
    margin-right: 20%;
}
