{
  "ircNickname": "test-wikistream", 
  "ircRealName": "http://github.com/edsu/wikistream", 
  "log": false, 
  "transports": ["websocket", "flashsocket", "htmlfile", "xhr-polling", "jsonp-polling"],
  "port": 3000
}
